<div>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container-fluid">
      <!-- Links -->
     <div>
      <div>
         <ul class="navbar-nav" style="padding-left: 40px;">
            <li>
                <a class="nav-link" href="{% url 'grades_of_school' %}" id="footer-nav">До вибору класу</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'random_topic' %}" id="footer-nav"> Випадкова тема</a>
            </li>

         </ul>
      </div>
    </div>
  </nav>
</div>
