{% extends 'school/_layout.html' %}

{% block title %}
    Теми уроків
{% endblock %}


{% block content %}
    <h3>Теми уроків</h3>
        {% if 0 %}
          <p>Тема1</p>
          <p>Тема2</p>
        {% else %}
            <p><i>Для цього класу та предмету поки не додано тем.</i></p>
            <p><i>Ви можете допомогти нам заповнити цю сторінку. <br>
            Зареєструйтесь і допомагайте створювати відеотеку для цікавого та легкого навчання</i></p>
        {% endif %}

{% endblock %}
