<div>
  <!-- Кнопки для переходу по контенту -->
  <div class="col-12" id="div-btn">
    <a href="{% url 'chapters_topics' grade_slug=grade.slug subject_slug=subject.slug %}" class="btn btn btn-warning col-12">
     <strong>Всі теми</strong>
    </a>
  </div>

  <!-- <div class="col-12" id="div-btn">
    <a href="{% url 'chapters_topics' grade_slug=grade.slug subject_slug=subject.slug %}" class="btn btn-outline-primary col-12">
      Всі теми "<strong>{{ chapter.title }}</strong>"
    </a>
  </div> -->

</div>