<div>
    <!-- Кнопки для переходу по контенту -->

    <div class="col-12 d-flex justify-content-between">

      <div class="col-6 d-flex" id="div-btn">
        {% if topic_pre and nav_pre%}
          <a href="{% url 'videos_of_topic' grade_slug=grade.slug subject_slug=subject.slug chapter_slug=chapter_pre.slug topic_slug=topic_pre.slug %}" class="btn btn-warning col-12">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
             Попередня: <strong>{{ topic_pre.title }}</strong></a>
        {% endif %}
      </div>

      <div class="col-6 d-flex" id="div-btn">
        {% if topic_next and nav_next%}
          <a href="{% url 'videos_of_topic' grade_slug=grade.slug subject_slug=subject.slug chapter_slug=chapter_next.slug topic_slug=topic_next.slug %}" class="btn btn-warning col-12">
          Наступна: <strong>{{ topic_next.title }}</strong> 
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
            
              <!-- <button type="button" class="btn btn-outline-info" id="SelectButton">btn-outline-info</button>
              <button type="button" class="btn btn-outline-warning" style="color: black;">btn-outline-warning</button>
              <button type="button" class="btn btn-primary">btn-primary</button>
              <button type="button" class="btn btn-outline-secondary">btn-outline-secondar</button>
              <button type="button" class="btn btn-outline-primary">btn-outline-primary</button>
              <button type="button" class="btn btn-outline-secondary">btn-outline-secondary</button> -->
        {% endif %}
      </div>

    </div>

  </div>